<%= tag.div id: dom_id(link), class: "divide-y-2 divide-gray-100" do %>
  <%= turbo_stream_from link %>

  <div class="grid lg:grid-cols-9 items-center py-4">
    <div class="lg:col-span-5">
      <%= link_to view_path(link), target: :_blank, data: { turbo: false }, class: "no-underline text-xs flex items-center gap-1 hover:underline" do %>
        <%= favicon_tag link.domain, class: "inline-block m-0" %>
        <%= view_url(link) %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      <% end %>

      <div class="flex flex-col">
        <%= tag.div link.title || link.url, class: "text-lg font-bold mt-2" %>
        <%= tag.div link.description, class: "text-sm text-gray-800" %>
        <%= image_tag link.image, class: "my-3" if link.image %>
      </div>
    </div>

    <div class="flex justify-between lg:justify-evenly items-center lg:col-span-4 mt-2">
      <div class="text-center text-sm">
        <%= link_to "Check views", link, class: "px-2 py-1.5 rounded bg-gray-100 hover:bg-gray-200 transition duration-200 no-underline" %>
      </div>

      <div class="text-center text-sm">
        <%= button_tag "Copy link", class: "px-2 py-1.5 rounded bg-gray-100 hover:bg-gray-200 transition duration-200 no-underline", data: { controller: "clipboard", clipboard_text: view_url(link)} %>
      </div>
    </div>
  </div>
<% end %>
