<div class="flex justify-between items-center text-sm">
  <%= link_to "Back to all links", root_path, class: "px-4 py-2 bg-gray-100 hover:bg-gray-200 transition duration-200 rounded no-underline" %>
  <div class="flex items-center gap-4">
    <%= tag.div pluralize(@link.views_count, "View") %>
    <%= link_to "Edit", edit_link_path(@link), class: "px-2 py-1.5 rounded bg-gray-100 hover:bg-gray-200 transition duration-200 no-underline" if @link.editable_by?(current_user) %>
  </div>
</div>

<h1 class="mt-10 mb-5"><%= @link.title %></h1>
<%= tag.div @link.description %>

<div class="flex justify-between items-center my-10">
  <%= link_to view_path(@link), target: :_blank, data: { turbo: false }, class: "px-2 py-1.5 rounded bg-gray-100 hover:bg-gray-200 transition duration-200 no-underline text-xs flex items-center gap-1" do %>
    <%= favicon_tag @link.domain, class: "inline-block m-0" %>
    <%= view_url(@link) %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
    </svg>
  <% end %>

  <%= button_tag "Copy link", class: "text-sm px-2 py-1.5 rounded bg-gray-100 hover:bg-gray-200 transition duration-200 no-underline", data: { controller: "clipboard", clipboard_text: view_url(@link)} %>
</div>
<%= line_chart @link.views.group_by_day(:created_at, range: 2.weeks.ago..Time.now, expand_range: true).count %>
