<!DOCTYPE html>
<html>
  <head>
    <title>ShortURL - Create your short link now!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="ShortURL - Create your short link now!">
    <meta property="og:description" content="Shorten your url in less than 5 seconds!">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <div class="flex items-center justify-between mb-10 py-5 bg-gray-100">
      <%= link_to root_path, class: "m-0 ps-8 lg:ps-20 text-xl font-bold flex items-center gap-2" do %>
        <h1>ShortURL</h1>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden lg:block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
        </svg>
      <% end %>

      <div class="flex items-center gap-3 lg:gap-6 text-lg me-8 lg:me-20">
        <% if user_signed_in? %>
          <%= link_to "My links", my_links_path, class: "hover:font-semibold" %>
          <%= link_to "Profile", edit_user_registration_path, class: "hover:font-semibold" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "hover:font-semibold" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "hover:font-semibold" %>
          <%= link_to "Login", new_user_session_path, class: "hover:font-semibold" %>
        <% end %>
      </div>
    </div>

    <main class="prose mx-auto mt-12 lg:mt-28 grow px-5 min-w-1/2">
      <%= tag.p alert, class: "px-4 py-2 bg-red-100 text-red-800 rounded" if alert %>
      <%= tag.p notice, class: "px-4 py-2 bg-yellow-100 text-yellow-800 rounded" if notice %>

      <%= yield %>

    </main>

    <%= tag.footer "©ShortURL 2023 - Made with ♡ by Jessica Iacovozzi", class: "mt-10 py-5 bg-gray-100 text-center text-sm text-gray-600 f" %>
  </body>
</html>
